
.idea/
node_modules/
package-lock.json
src/app/app-routing.module.js
src/app/app-routing.module.js.map
src/app/app.component.js
src/app/app.component.js.map
src/app/app.module.js
src/app/app.module.js.map
src/app/dashboard.component.js
src/app/dashboard.component.js.map
src/app/hero-detail.component.js
src/app/hero-detail.component.js.map
src/app/hero-search.component.js
src/app/hero-search.component.js.map
src/app/hero-search.service.js
src/app/hero-search.service.js.map
src/app/hero.js
src/app/hero.js.map
src/app/hero.service.js
src/app/hero.service.js.map
src/app/heroes.component.js
src/app/heroes.component.js.map
src/app/in-memory-data.service.js
src/app/in-memory-data.service.js.map
src/main.js
src/main.js.map
